.ScrollContainer {
    height: 100vh;
    overflow-y: hidden;
    background-color: #fff;
}

.CheckInformationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.container {
    background: #fff;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-sizing: border-box;
    color: inherit;
    margin-top: 20px;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #30a04d;
    margin-bottom: 40px;
    text-align: center;
}
.userName {
    font-size: 1rem;
    color: #333;
    text-align: left;
}

.inputContainer {
    height: 55px;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 0 10px;
    border: 2px solid #30a04d;
    box-sizing: border-box;
    flex-shrink: 0; /* 추가 */
}

.icon {
    margin-right: 10px;
    color: #000;
}

.CheckInformationInput {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    font-size: 1rem;
    margin-right: 0.3rem;
    background-color: transparent;
    box-shadow: none;
    color: inherit;
}

.CheckInformationInput:focus {
    outline: none;
}

/* Buttons */
.saveButton,
.cancelButton {
    width: 100%;
    padding: 0.9rem;
    border-radius: 10px;
    background: #30a04d;
    color: white;
    border: none;
    font-size: 1.125rem;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: bold;
}

.saveButton {
    margin-top: 15px;
}

.cancelButton {
    background: #28a745;
}

.saveButton:hover,
.cancelButton:hover {
    opacity: 0.9;
}

/* Placeholder color */
.CheckInformationInput::placeholder {
    color: #333;
    opacity: 1;
}

/* Responsive styles */

/* 768px resolution (tablet) */
@media (max-width: 768px) {
    .container {
        padding: 1.5rem;
    }

    .container h2 {
        font-size: 1.4rem;
        margin-bottom: 35px;
    }

    .inputContainer {
        padding: 7px;
    }

    .CheckInformationInput {
        font-size: 0.875rem;
    }

    .saveButton,
    .cancelButton {
        font-size: 0.9375rem;
        padding: 0.625rem;
    }
}

@media (max-height: 480px) {
    .ScrollContainer {
        padding-bottom: 2rem;
        overflow-y: auto; /* 스크롤 가능하게 설정 */
    }
}

/* 480px resolution (mobile) */
@media (max-width: 480px) {
    .container {
        padding: 1rem;
    }

    .title {
        font-size: 2rem;
    }

    .inputContainer {
        padding: 5px;
    }

    .CheckInformationInput {
        font-size: 0.8125rem;
    }

    .saveButton,
    .cancelButton {
        font-size: 0.875rem;
        padding: 0.5rem;
    }
}
