.SettingsContainer {
    height: calc(100vh - 10vh);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5vh;
    overflow-y: auto;
}

.container {
    background: #fff;
    padding: 40px 30px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-sizing: border-box;
    color: inherit;
}

.container h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.optionButton {
    padding: 15px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #e6e6fa;
    color: #333;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.optionButton:hover {
    background-color: #d8bfd8;
    box-shadow: none;
}

.deletButton {
    padding: 15px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(239, 83, 93);
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.deletButton:hover {
    background-color: #dd270b;
    box-shadow: none;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.closeButton:hover {
    color: #d8bfd8;
}

.modalContent h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.modalInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkboxContainer input {
    margin-right: 10px;
}

.warningText {
    font-size: 0.9rem;
    color: #f00;
    margin-bottom: 20px;
}
