/* 기본 스타일 (기본 화면 크기) */
.ScrollContainer {
    height: 100vh;
    overflow-y: hidden;
    background-color: #fff;
}

.CheckSignUpBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 3rem;
}

/* Back Button */
.backButton {
    width: 30%;
    height: 55px;
    border-radius: 10px;
    background: #30a04d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 6rem;
}

.backButtonText {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.backButton:hover {
    background-color: #267a37;
}

/* Main Logo */
.mainLogo {
    width: 177px;
    height: 30px;
    object-fit: cover;
    margin-bottom: 3.3rem;
}

/* Title */
.title {
    font-size: 1.8rem;
    text-align: center;
    color: #242424;
    margin-bottom: 5%;
}

.titleBold {
    font-weight: 600;
}

.titleRegular {
    font-weight: normal;
}

/* Option Containers */
.optionsWrapper {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.optionContainer {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    padding: 4% 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}

.optionContainer:hover {
    border: 2px solid #30a04d;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px) scale(1.05);
}

.optionTitle {
    opacity: 0.8;
    font-size: 2rem;
    font-weight: 600;
    color: #242424;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10px;
    transition: color 0.5s ease, transform 0.5s ease;
}

/* Hover 상태에서 중앙 정렬 */
.optionContainer:hover {
    justify-content: flex-start;
    align-items: center;
}

/* Hover 상태에서 변경 */
.optionContainer:hover .optionTitle {
    color: #30a04d;
    font-size: 2.2rem;
    transform: translateX(-5%);
}

.optionContainer:hover .subText {
    display: block;
    font-size: 1rem;
    color: #757575;
    margin-bottom: 20px;
    transition: opacity 0.5s ease;
}

.subText {
    display: none;
    opacity: 0;
}

.optionContainer:hover .subText {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* SignUp Button */
.signUpButton {
    display: none;
    background-color: #30a04d;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    opacity: 0;
    transition: opacity 0.5s ease, background-color 0.3s ease;
    z-index: 10; /* 필요에 따라 z-index 값을 조정 */
    pointer-events: auto; /* 클릭 이벤트 허용 */
}

.optionContainer:hover .signUpButton {
    display: block;
    opacity: 1;
}

.signUpButton:hover {
    background-color: #267a37;
    transition: background-color 0.3s ease;
}

/* 로고 숨기기 */
.appleLogo,
.teachCongLogo,
.GoogleLogo,
.NaverLogo {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.optionContainer:hover .appleLogo,
.optionContainer:hover .teachCongLogo,
.optionContainer:hover .GoogleLogo,
.optionContainer:hover .NaverLogo {
    opacity: 0;
}

.appleLogo {
    width: 290px;
    height: 310px;
    object-fit: cover;
    margin-top: auto;
    opacity: 0.75;
    position: absolute;
    right: -50px;
    bottom: -70px;
}

.teachCongLogo {
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin-top: auto;
    position: absolute;
    right: 0px;
    bottom: -30px;
}

.GoogleLogo {
    width: 200px;
    height: 280px;
    object-fit: cover;
    opacity: 0.8;
    position: absolute;
    right: -10px;
    bottom: -50px;
}

.NaverLogo {
    width: 215px;
    height: 225px;
    object-fit: cover;
    margin-top: auto;
    position: absolute;
    right: -10px;
    bottom: -20px;
}

/* 반응형 스타일 */

/* 1440px 해상도 */
@media (max-width: 1440px) {
    .CheckSignUpBody {
        padding: 3rem; /* 패딩을 줄여서 전체적인 공간 조정 */
    }

    .optionContainer {
        width: 250px; /* 옵션 컨테이너 크기 줄이기 */
        height: 440px;
    }

    .optionTitle {
        font-size: 1.7rem; /* 27.2px */
    }

    .signUpButton {
        font-size: 1.1rem; /* 17.6px */
    }
}

@media (max-height: 860px) {
    .ScrollContainer {
        overflow-y: auto; /* 스크롤 가능하게 설정 */
    }
}

/* 1024px 해상도 */
@media (max-width: 1024px) {
    .ScrollContainer {
        overflow-y: auto; /* 스크롤 가능하게 설정 */
    }

    .CheckSignUpBody {
        padding: 2rem;
    }

    .mainLogo {
        width: 130px;
        height: 22px;
        margin-bottom: 2rem;
    }

    .title {
        margin-bottom: 5%;
    }

    .optionsWrapper {
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }

    .optionContainer {
        width: 300px; /* 옵션 컨테이너 크기 줄이기 */
        height: 390px;
    }

    .optionTitle {
        font-size: 1.6rem; /* 25.6px */
    }

    .signUpButton {
        font-size: 1rem; /* 16px */
    }

    .backButton {
        margin-top: 3.5rem;
    }
}

/* 768px 해상도 (태블릿) */
@media (max-width: 768px) {
    .ScrollContainer {
        overflow-y: auto; /* 스크롤 가능하게 설정 */
    }

    .CheckSignUpBody {
        padding: 1.5rem;
    }

    .mainLogo {
        width: 130px;
        height: 22px;
        margin-bottom: 2rem;
    }

    .title {
        font-size: 1.5rem;
        text-align: center;
        color: #242424;
        margin-bottom: 5%;
    }

    .optionsWrapper {
        gap: 2rem;
    }

    .optionContainer {
        width: 290px; /* 옵션 컨테이너 크기 줄이기 */
        height: 390px;
    }

    .optionTitle {
        font-size: 1.5rem; /* 24px */
    }

    .signUpButton {
        font-size: 0.9375rem; /* 15px */
    }

    /* .backButton {
        margin-top: 3rem;
        width: 50%;
    } */

    .backButtonText {
        font-size: 1.25rem; /* 20px */
    }
}

/* 480px 해상도 (모바일) */
@media (max-width: 480px) {
    .ScrollContainer {
        overflow-y: auto; /* 스크롤 가능하게 설정 */
    }

    .CheckSignUpBody {
        padding: 1rem;
    }

    .mainLogo {
        width: 115px;
        height: 20px;
        margin-bottom: 1.5rem;
    }

    .title {
        font-size: 1.3rem;
        text-align: center;
        color: #242424;
        margin-bottom: 5%;
    }

    .optionsWrapper {
        flex-direction: column;
        gap: 1.25rem;
    }

    .optionContainer {
        width: 300px; /* 옵션 컨테이너 크기 줄이기 */
        height: 390px;
        margin-top: 10px;
    }

    .optionTitle {
        font-size: 1.4rem; /* 22.4px */
    }

    .subText {
        font-size: 0.875rem; /* 14px */
    }

    .signUpButton {
        font-size: 0.875rem; /* 14px */
        padding: 0.5rem 1rem;
    }

    .backButton {
        margin-top: 2.5rem;
        width: 60%;
        height: 45px;
    }

    .backButtonText {
        font-size: 1rem; /* 16px */
    }
}

/* 360px 해상도 (모바일) */
@media (max-width: 360px) {
    .mainLogo {
        width: 115px;
        height: 20px;
        margin-bottom: 1.3rem;
    }

    .title {
        font-size: 1.2rem;
        text-align: center;
        color: #242424;
        margin-bottom: 5%;
    }

    .optionsWrapper {
        flex-direction: column;
        gap: 1.25rem;
    }

    .optionContainer {
        width: 250px; /* 옵션 컨테이너 크기 줄이기 */
        height: 340px;
        margin-top: 10px;
    }

    .optionTitle {
        font-size: 1.4rem; /* 22.4px */
    }

    .subText {
        font-size: 0.875rem; /* 14px */
    }

    .signUpButton {
        font-size: 0.875rem; /* 14px */
        padding: 0.5rem 1rem;
    }

    .backButton {
        margin-top: 2.5rem;
        width: 60%;
        height: 45px;
    }

    .backButtonText {
        font-size: 1rem; /* 16px */
    }
}
