.ScrollContainer {
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CheckSignUpBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

/* Back Button */
.backButton {
    width: 30%;
    height: 55px;
    border-radius: 10px;
    background: #30a04d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 100px;
}

.backButtonText {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.backButton:hover {
    background-color: #267a37;
}

/* Main Logo */
.mainLogo {
    width: 177px;
    height: 30px;
    object-fit: cover;
    margin-bottom: 3.3rem;
}

/* Title */
.title {
    font-size: 1.8rem;
    text-align: center;
    color: #242424;
    margin-bottom: 2%;
}

.titleBold {
    font-weight: 600;
}

.titleRegular {
    font-weight: normal;
}

/* Option Containers */
.optionsWrapper {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.optionContainer {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left; /* 텍스트 왼쪽 정렬 */
    padding: 4% 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 좌측 정렬을 위해 flex-start 사용 */
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}

.optionContainer:hover {
    border: 2px solid #30a04d; /* 테두리 색상 변경 */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    transform: translateY(-10px) scale(1.05); /* 약간 위로 이동 및 확대 */
}

.optionTitle {
    opacity: 0.8;
    font-size: 2rem;
    font-weight: 600;
    color: #242424;
    margin-bottom: 20px;
    text-align: left; /* 좌측 정렬 */
    padding-left: 10px; /* 텍스트 왼쪽 여백 추가 */
    transition: color 0.5s ease, transform 0.5s ease;
}

/* Hover 상태에서 중앙 정렬 */
.optionContainer:hover {
    justify-content: flex-start; /* 세로 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
}

/* Hover 상태에서 변경 */
.optionContainer:hover .optionTitle {
    color: #30a04d; /* 텍스트 색상 변경 */
    font-size: 2.2rem; /* 텍스트 크기 조정 */
    transform: translateX(-5%); /* 텍스트 왼쪽으로 밀기 */
}

.optionContainer:hover .subText {
    display: block;
    font-size: 1rem;
    color: #757575;
    margin-bottom: 20px;
    transition: opacity 0.5s ease;
}

.subText {
    display: none;
    opacity: 0;
}

.optionContainer:hover .subText {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* SignUp Button */
.signUpButton {
    display: none;
    background-color: #30a04d;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    opacity: 0; /* 기본적으로 투명 */
    transition: opacity 0.5s ease, background-color 0.3s ease;
}

.optionContainer:hover .signUpButton {
    display: block;
    opacity: 1; /* 호버 시 나타남 */
}

.signUpButton:hover {
    background-color: #267a37;
    transition: background-color 0.3s ease;
}

/* 로고 숨기기 */
.appleLogo,
.teachCongLogo,
.GoogleLogo,
.NaverLogo {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.optionContainer:hover .appleLogo,
.optionContainer:hover .teachCongLogo,
.optionContainer:hover .GoogleLogo,
.optionContainer:hover .NaverLogo {
    opacity: 0; /* 호버 시 로고 숨김 */
}

/* Apple Logo */
.appleLogo {
    width: 290px;
    height: 310px;
    object-fit: cover;
    margin-top: auto;
    opacity: 0.75;
    position: absolute;
    right: -50px;
    bottom: -70px;
}

.teachCongLogo {
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin-top: auto;
    position: absolute;
    right: 0px;
    bottom: -30px;
}

.GoogleLogo {
    width: 200px;
    height: 280px;
    object-fit: cover;
    opacity: 0.8;
    position: absolute;
    right: -10px;
    bottom: -50px;
}

.NaverLogo {
    width: 215px;
    height: 225px;
    object-fit: cover;
    margin-top: auto;
    position: absolute;
    right: -10px;
    bottom: -20px;
}
