.ScrollContainer {
    height: 100vh;
    overflow-y: hidden;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #242424;
    margin-bottom: 40px;
    text-align: center;
    position: relative; /* 상단 고정 해제 */
    z-index: 1; /* 다른 요소 위에 오게 함 */
}

.toolGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px;
    padding-top: 20px; /* 타이틀과 도구 사이의 간격 추가 */
}

.toolItem {
    background-color: #ffffff;
    border: 2px solid #30a04d;
    border-radius: 15px;
    padding: 30px 30px 20px 30px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.toolItem:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 150px;
    height: 80px;
    margin-bottom: 40px;
}

.toolName {
    font-size: 1.5rem;
    font-weight: 500;
    color: #242424;
}

@media (max-height: 700px) {
    .ScrollContainer {
        padding-bottom: 5rem;
        overflow-y: auto; /* 스크롤 가능하게 설정 */
    }
}

@media (max-width: 768px) {
    .ScrollContainer {
        padding-bottom: 5rem;
        overflow-y: auto; /* 스크롤 가능하게 설정 */
    }
}

/* 360px 이하 */
/* @media (max-width: 360px) {
    /* .title {
        font-size: 1.3rem;
    }
    .toolItem {
        padding: 20px;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .toolName {
        font-size: 1.2rem;
    } */
