/* 전체 컨테이너 */
.ScrollContainer {
    height: 100vh;
    overflow-y: auto;
}

/* 내부 컨테이너 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px 30px 50px;
    max-width: 1100px;
    margin: 50px auto 150px auto;
    background-color: #fff8bd;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* 헤더를 좌우로 정렬하기 위한 설정 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

/* 학급 정보 텍스트 스타일 */
.classInfo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #30a04d;
}

/* 추가 버튼 스타일 */
.addButton {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: #30a04d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #267a37;
}

/* 학생 정보 리스트 박스 */
.studentBox {
    width: 100%;
    flex-grow: 1;
    border-radius: 5px;
    padding: 20px;
    overflow-y: hidden;
}

/* 학생 테이블 (메인 테이블) */
.studentTable {
    width: 100%;
    border-collapse: collapse;
}

/* 테이블 헤더 스타일 */
.studentTable th {
    padding: 20px 10px; /* 여백 추가 */
    border-bottom: 1px solid #bcb4b4;
    text-align: center;
}

/* 테이블 데이터 셀 */
.studentTable td {
    padding: 15px 10px;
    text-align: center;
}

/* 수정 및 삭제 버튼 컨테이너 */
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberInputField {
    width: 4ch;
    max-width: 50px;
    padding: 8px;
    border: 1px solid #30a04d;
    border-radius: 5px;
    box-sizing: border-box;
}

.nameInputField {
    width: 7ch;
    max-width: 70px;
    padding: 8px;
    border: 1px solid #30a04d;
    border-radius: 5px;
    box-sizing: border-box;
}

.phoneInputField {
    width: 13ch;
    max-width: 120px;
    padding: 8px;
    border: 1px solid #30a04d;
    border-radius: 5px;
    box-sizing: border-box;
}

.inputField:focus {
    outline: none;
    border-color: #267a37; /* 포커스 시 더 진한 색상 */
    box-shadow: 0 0 5px rgba(38, 122, 55, 0.5);
}

.selectField {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #30a04d; /* 메인 색상 테두리 */
    border-radius: 5px;
}

.selectField:focus {
    outline: none;
    border-color: #267a37;
    box-shadow: 0 0 5px rgba(38, 122, 55, 0.5);
}

/* 모달 오버레이 */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 모달 컨텐츠 */
.modalContent {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60vw; /* 모달의 너비 고정 */
    min-height: 300px; /* 최소 높이 설정 */
    box-sizing: border-box;
}

/* 모달 안 테이블 */
.studentInfoTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

/* 모달 테이블 헤더 및 데이터 셀 */
.studentInfoTable th {
    padding: 15px 10px; /* 여백 추가 */
    border-bottom: 1px solid #bcb4b4;
}

.studentInfoHeader {
    padding: 15px 0; /* 위아래 여백 추가 */
}

.studentInfoTable td {
    padding: 15px 10px;
}

/* 모달 안 입력 필드 및 셀렉트 박스 */
.studentInfoTable .inputField,
.studentInfoTable .selectField {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #30a04d;
    border-radius: 5px;
}

.studentInfoTable .inputField:focus,
.studentInfoTable .selectField:focus {
    outline: none;
    border-color: #267a37;
    box-shadow: 0 0 5px rgba(38, 122, 55, 0.5);
}

.info {
    margin-bottom: 15px;
    font-size: 1.8rem;
}

/* 추가 및 취소 버튼 */
.cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(255, 99, 71);
    margin-left: 10px;
}

/* 수정 버튼 */
.editButton {
    background-color: #30a04d; /* 초록색 배경 */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.editButton:hover {
    background-color: #267a37;
}

/* 삭제 버튼 */
.deleteButton {
    background-color: #f44336; /* 빨간색 배경 */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.deleteButton:hover {
    background-color: #d32f2f; /* hover 시 더 어두운 빨간색 */
}

/* 버튼 사이의 구분선 */
.separator {
    margin: 0 10px;
    color: #ccc;
    font-weight: bold;
}

/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
}

.pageButton {
    padding: 8px 14px;
    margin: 50px 5px 0px 5px;
    border: 1px solid #30a04d;
    background-color: white;
    cursor: pointer;
    color: #30a04d;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.pageButton:disabled {
    color: #d3d3d3; /* 비활성화 시 회색으로 변경 */
}

.pageButton:hover {
    background-color: #30a04d;
    color: white;
}

.pageButton:disabled:hover {
    background-color: white; /* 비활성화된 버튼 호버 시 색상 변화 없음 */
    color: #d3d3d3;
}
