/* 전체 컨테이너 */
.ScrollContainer {
    height: 100vh;
    overflow-y: auto;
}

.Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3rem 10rem 3rem;
    box-sizing: border-box;
}

/* 내부 컨테이너 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px 30px 50px;
    width: 100%;
    max-width: 1200px;
    background-color: #fff8bd;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 헤더를 좌우로 정렬하기 위한 설정 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

/* 학급 정보 텍스트 스타일 */
.classInfo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #30a04d;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.icon {
    margin-top: -5px;
    margin-left: 10px;
    width: 35px; /* 아이콘 크기 조정 */
    height: 35px;
}

/* 추가 버튼 스타일 */
.addButton {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: #30a04d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #267a37;
}

/* 학생 정보 리스트 박스 */
.studentBox {
    width: 100%;
    flex-grow: 1;
    border-radius: 5px;
    padding: 20px;
    overflow-y: hidden;
}

/* 학생 테이블 (메인 테이블) */
.studentTable {
    width: 100%;
    border-collapse: collapse;
}

/* 테이블 헤더 스타일 */
.studentTable th {
    padding: 20px 10px; /* 여백 추가 */
    border-bottom: 1px solid #bcb4b4;
    text-align: center;
}

/* 테이블 데이터 셀 */
.studentTable td {
    padding: 15px 10px;
    text-align: center;
}

/* 수정 및 삭제 버튼 컨테이너 */
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberInputField {
    width: 4ch;
    max-width: 35px;
    padding: 8px;
    border: 1px solid #30a04d;
    border-radius: 8px;
    box-sizing: border-box;
    color: #9d9d9d;
}

.nameInputField {
    width: 7ch;
    max-width: 70px;
    padding: 8px;
    border: 1px solid #30a04d;
    border-radius: 8px;
    box-sizing: border-box;
    color: #9d9d9d;
}

.phoneInputField {
    width: 13ch;
    max-width: 120px;
    padding: 8px;
    border: 1px solid #30a04d;
    border-radius: 8px;
    box-sizing: border-box;
    color: #9d9d9d;
}

.inputField:focus {
    outline: none;
    border-color: #267a37; /* 포커스 시 더 진한 색상 */
    box-shadow: 0 0 5px rgba(38, 122, 55, 0.5);
}

.selectField {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #30a04d; /* 메인 색상 테두리 */
    border-radius: 5px;
}

.selectField:focus {
    outline: none;
    border-color: #267a37;
    box-shadow: 0 0 5px rgba(38, 122, 55, 0.5);
}

/* 모달 오버레이 */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 모달 컨텐츠 */
.modalContent {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60vw; /* 모달의 너비 고정 */
    min-height: 300px; /* 최소 높이 설정 */
    box-sizing: border-box;
}

/* 모달 안 테이블 */
.studentInfoTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

/* 모달 테이블 헤더 및 데이터 셀 */
.studentInfoTable th {
    border-bottom: 1px solid #bcb4b4;
}

.studentInfoHeader {
    padding: 15px 0; /* 위아래 여백 추가 */
}

.studentInfoTable td {
    padding: 15px 10px;
    width: 100px;
}

/* 모달 안 입력 필드 및 셀렉트 박스 */
.studentInfoTable .inputField,
.studentInfoTable .selectField {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #30a04d;
    border-radius: 5px;
}

.studentInfoTable .inputField:focus,
.studentInfoTable .selectField:focus {
    outline: none;
    border-color: #267a37;
    box-shadow: 0 0 5px rgba(38, 122, 55, 0.5);
}

.info {
    margin-bottom: 15px;
    font-size: 1.8rem;
}

/* 추가 및 취소 버튼 */
.cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(255, 99, 71);
    margin-left: 10px;
}

/* 수정 버튼 */
.editButton {
    background-color: #30a04d; /* 초록색 배경 */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.editButton:hover {
    background-color: #267a37;
}

/* 삭제 버튼 */
.deleteButton {
    background-color: #f44336; /* 빨간색 배경 */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.deleteButton:hover {
    background-color: #d32f2f; /* hover 시 더 어두운 빨간색 */
}

/* 버튼 사이의 구분선 */
.separator {
    margin: 0 5px;
    color: #ccc;
    font-weight: bold;
}

/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
}

.pageButton {
    padding: 8px 14px;
    margin: 50px 5px 0px 5px;
    border: 1px solid #30a04d;
    background-color: white;
    cursor: pointer;
    color: #30a04d;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.pageButton:disabled {
    color: #d3d3d3; /* 비활성화 시 회색으로 변경 */
}

.pageButton:hover {
    background-color: #30a04d;
    color: white;
}

.pageButton:disabled:hover {
    background-color: white; /* 비활성화된 버튼 호버 시 색상 변화 없음 */
    color: #d3d3d3;
}

/* 화면 너비가 최대 1024px일 때 */
@media (max-width: 1024px) {
    /* 전체적으로 크기 줄이기 */
    .container {
        padding: 70px 15px 30px 15px;
    }

    .classInfo {
        font-size: 1.3rem;
    }
    .studentTable th,
    .studentTable td {
        padding: 10px 8px;
        font-size: 0.95rem;
    }
    .modalContent {
        width: 80vw;
    }
    .info {
        font-size: 1.5rem;
    }

    .editButton,
    .deleteButton {
        padding: 6px 8px;
        font-size: 14px;
    }
}

/* 화면 너비가 최대 768px일 때 */
@media (max-width: 768px) {
    .studentTable {
        min-width: 800px; /* 필요에 따라 조정 */
        table-layout: fixed;
    }

    .studentTable th,
    .studentTable td {
        overflow: hidden;
    }

    .studentBox {
        overflow-x: auto;
    }
    .phoneInputField {
        max-width: 80px;
    }

    /* 모달 내 폼 요소들을 세로로 배치 */
    .studentInfoTable {
        display: block;
        width: 100%;
    }
    .studentInfoTable thead {
        display: none;
    }
    .studentInfoTable tbody {
        display: block;
    }
    .studentInfoTable tr {
        display: block;
        margin-bottom: 15px;
    }
    .studentInfoTable td {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .studentInfoTable td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-bottom: 5px;
    }
    .studentInfoTable td input,
    .studentInfoTable td select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    /* 모달 내 버튼 조정 */
    .modalContent button {
        width: auto;
        margin: 20px 5px 0 0;
    }
}

/* 화면 너비가 최대 480px일 때 */
@media (max-width: 480px) {
    .container {
        padding: 20px 10px 10px 10px;
    }

    .icon {
        width: 30px; /* 아이콘 크기 조정 */
        height: 30px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .classInfo {
        font-size: 1rem;
        text-align: left;
    }

    .studentTable th,
    .studentTable td {
        font-size: 0.8rem;
        padding: 6px 8px;
    }

    .phoneInputField {
        width: 13ch;
        max-width: 60px;
    }

    .modalContent {
        width: 95vw;
        padding: 20px;
    }

    .info {
        font-size: 1.2rem;
    }
    /* 테이블의 가로 스크롤을 가능하게 함 */
    .studentBox {
        overflow-x: auto;
    }
    /* 테이블 안의 요소들이 깨지지 않도록 최소 너비 설정 */
    .studentTable {
        min-width: 600px; /* 필요에 따라 조정 */
    }
    /* 액션 버튼 조정 */
    .actions {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .actions button {
        margin-bottom: 5px;
    }
    .separator {
        display: none;
    }

    /* 페이지네이션 조정 */
    .pagination {
        flex-direction: row;
    }
    .pageButton {
        width: auto;
        margin: 5px;
    }
}
