/* 모달 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 검은색 반투명 배경 */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

/* 슬라이드 효과는 모달의 콘텐츠에만 적용 */
.modalContent {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    transform: translateX(-100%); /* 처음에 왼쪽으로 완전히 숨김 */
    transition: transform 0.5s ease; /* 슬라이드 효과 */
}

.modal.open .modalContent {
    transform: translateX(0); /* 모달이 열릴 때 화면 안으로 슬라이드 */
}

/* 메뉴 모달 스타일 */
.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.closeButton {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.addButton {
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: #007bff;
    margin-right: auto;
}

.modalBody {
    padding-top: 10px;
}

.memuLogo {
    height: 1.5rem;
    margin-top: 10px;
}

.menuList {
    list-style-type: none;
    padding: 0;
}

.listItem {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.emptyItem {
    color: #999;
}

.companyDetails {
    margin-top: 200px;
    font-size: 12px;
    color: #999;
}

/* 전체 컨테이너 */
.container {
    padding: 20px 50px;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 왼쪽 섹션: 메뉴 아이콘 */
.leftSection {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.menuIcon {
    cursor: pointer;
}

/* 중앙 섹션: 타이틀 */
.centerSection {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* 오른쪽 섹션: 선생님 정보 및 채팅 아이콘 */
.rightSection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 중앙 타이틀 이미지 */
.mainTitle {
    height: 2rem;
    cursor: pointer;
}

/* 오른쪽 사용자 정보 */
.teacherInfo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #000;
    margin-right: 20px; /* 채팅 아이콘과 간격 */

    @media (max-width: 768px) {
        display: none;
    }
}

.teacherName {
    font-weight: 700;
    margin-right: 5px;
}

.teacherTitle {
    font-weight: 300;
}

.ChatIcon {
    cursor: pointer;
}

/* 반응형 디자인 */
/*크게 1024, 768, 476을 기준으로 두고 작업*/
/*너무 많은 미디어 쿼리 사용은 지양하고, 화면 줄이는 과정에서 부자연스러운 모션을 다 잡으려고 하기보단 최대한 위 세 픽셀에 맞춰 눈에 덜 띄게하는
선에서 작업하면 좋을 것 같습니다 ! */
/*476이하는 모바일 버전 디자인을 좀 더 고안해봐야 할 듯 함 */

@media (max-width: 480px) {
    .mainTitle {
        height: 1.5rem;
    }
}
