.ScrollContainer {
    height: 100vh;
    overflow-y: auto;
}

.FindPasswordBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    width: 100%;
    padding-top: 50px;
    box-sizing: border-box;
}

.container {
    background: #fff;
    padding: 30px 30px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-sizing: border-box;
}

.title {
    font-size: 1.6rem;
    margin-bottom: 50px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.inputContainer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.inputContainer svg {
    margin-right: 10px;
}

.signUpInput {
    flex: 1;
    padding: 10px 0;
    border: none;
    font-size: 0.9rem;
    background-color: transparent;
    color: #333;
    box-shadow: none;
    margin-right: 10px; /* 오른쪽 여백 추가 */
}
.signUpInput:focus {
    outline: none;
}

.button {
    padding: 15px;
    background-color: #e6e6fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d8bfd8;
}
.duplicateButton {
    background-color: #e6e6fa;
    border: none;
    padding: 8px 12px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px; /* 왼쪽 여백 추가 */
    transition: background-color 0.3s ease;
}

.duplicateButton:hover {
    background-color: #d8bfd8;
}

.timer {
    font-size: 0.9rem;
    color: #333;
}
